.container{
    border: 2px solid black;
    display: grid;
   grid-template-areas: "nav nav nav"
                        "side article article"
                        "footer footer footer";

}
.box{
    border: 2px solid red;
    height: 55px;
    /* width: 55px; */
}


.box1{
    background-color: blue;
   grid-area: nav;
}
.box2{
    background-color: aquamarine;
   grid-area: side;
}
.box3{
    background-color: beige;
   grid-area: article;
}
.box4{

   grid-area: footer;
}
.box5{
   
   
}